
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


#App-div{
  width: 1200px;
  font-family: Arial, Helvetica, sans-serif;
}

.Date-div-parent{
  align-items: center;
  width: 1176px;
  margin-left: 50px;
}
.calendar{
  margin-left: 20px;

}

.calendar input{
  height: 38px;
  margin-top: 10px;
  padding-left: 5px;
  font-size: 18px;
  border-radius: 5px;
  border-width: 1px;

}

.Date-head{
  margin: 15px;
  padding-left: 5px;
  font-size: 48px;
  text-align: center;

}

.search-div{
  margin-top: 20px;
  text-align: center;
}
#searchbar{
  margin-left: 35px;
  height: 35px;
  font-size: 17px;
  width: 20%;
  
}
input[type=submit], #qty-input, #searchbar, .edit-button {
  
  border-radius: 5px;
  border-width: 1px;
}

.foodfilter-parent{
  z-index: 2;
  background-color: white;
  outline: solid black 1px;
  
}

.foodfilter-child p{
  
  text-align: left;
  margin-bottom: 8px;
  margin-top: 8px;
  
}

#fooddata{
  background-color: rgba(82, 197, 159, 0.8);
  z-index:1;
  margin-top:25px;
  margin-left: 10px;
  margin-right: 10px;
}

.fooddata-h1, .AddButton, .Entryheader{/* fat font*/ 
  font-weight: 600;
}
.fooddata-divs{
  padding-bottom: 5px;
}

#qty-input{
  height: 28px;
}

.AddButton{
  color: rgb(255, 255, 255);
  font-size: 15px;
  text-align: center;
  /*text-shadow: -0.3px 0.3px 0 #000; */ 
  background-color: rgba(82, 197, 159, 0.8);
  border-color: rgba(255, 255, 255, 0.3);
  border-radius: 12px;
  border-width: 2px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.Chart-Header{
  margin-top:10px;
  text-align: center;
  padding-left: 20px;
}

.MealHeader{
  color: white;
  font-size: 16px;
  text-align: center;
  
  border-radius: 15px;
  padding-top: 5px;
  padding-bottom: 12px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;

}


.Breakfast{
  background-color: #00c49f;
}
.Lunch{
  background-color: #ffbb00;
}
.Dinner{
 background-color: #39abde;
}
.Snacks{
  background-color: #fe7676;
}
.Summary{
  text-align: center;
  padding-top: 5px;
  padding-bottom: 12px;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 18px;

}
.Summarylist{
  font-weight: bold;
}

.edit-button{
  background-color: inherit;
  color: white;
  border-width: 0.5px;
  border-color: rgba(0, 0, 0, 0.1);
  
}

.left-input{
  border-radius: 10px 0px 0px 10px;
}
.form{  
  padding-left: 25px;
}

.qty-in{
  width: 50px;
}
.e-input{
  width: 40px;
}

.hidden {
  display: none;
}

.login {
  text-align: right;
}